body {
  background-color: whitesmoke;
  background-image: url('running-girl.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;

  width: 100%;
  height: 100%;
}

html, body {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
}

#main-link {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.exercise-button {
  border-radius: 30px;
  text-align: center;
  width: 60%;
  height: 50%;
  padding-top: 60px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 5em;
  color:darkslateblue;
  background-color: rgba(167, 181, 204, 0.8);
}

.exercise-button span {
  margin-top: 200px;
  text-decoration: none;
}

.nav-menu {
  height: 15%;
  display: -webkit-flex; /* Safari */

}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  font-size: 2em;
}

.nav-menu li {
  display: inline-block;
  width: 160px;
  flex: 0 1 auto; /* auto */
  text-align: center;
  padding-top: 7.5%;
  background-color: rgba(167, 181, 204, 0.8);
  border-radius: 30px;
}

body, p, div, a {
  border-style: solid;
  border-width: 1px;
}

/****** exercise-pg-1-doctors.html CSS ******/

label, input {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1em;
}

.image_header {
  text-align: center;
  margin: 0 auto;
  margin: 100px 0 50px 0;
}

.container {
  text-align: center;
}

/* Benifits of Exercise */

.benifits-of-exercise_content {
  margin-top: 40px;
  font-size: 18px;
}

.boe-cat {
  margin-top: 20px;
}

/* FAQ */

.faq-header {
  margin-bottom: 20px;
}

#container-left {
  text-align: left;
}










