body {
  background-color: white;
  background-image: url('resources/Main-Pic.jpg'); /* Only on index.html page */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 99%;
  -webkit-background-size: 99%;
  font-family: sans-serif;


  /* width: 100%; */
  /*height: 100%; */
}

html, body {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
}

a {
text-decoration: none;
}

.menu {
  position: absolute;
  bottom: 0;
}

#main-link {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.exercise-button {
  border-radius: 30px;
  text-align: center;
  width: 60%;
  height: 50%;
  padding-top: 60px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 5em;
  color:darkslateblue;
  background-color: rgba(167, 181, 204, 0.8);
}

.exercise-button span {
  margin-top: 200px;
  text-decoration: none;
}

.nav-menu {
  height: 15%;
  display: -webkit-flex; /* Safari */

}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  font-size: 2em;
}

.nav-menu li {
  display: inline-block;
  width: 160px;
  flex: 0 1 auto; /* auto */
  text-align: center;
  padding-top: 7.5%;
  background-color: rgba(167, 181, 204, 0.8);
  border-radius: 30px;
}

/* Adds black border around everything. For Development purposes */

body, p, div, a {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(167, 181, 204, 0);
}
*/

/****** exercise-pg-1-doctors.html CSS ******/

label, input {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1em;
}

.image_header {
  text-align: center;
  margin: 0 auto;
  margin: 100px 0 50px 50px;
}

.image_header img {
  max-height: 35%
}

.container {
  text-align: center;
}

/* Benefits of Exercise */

.benefits-of-exercise_content {
  margin-top: 40px;
  font-size: 18px;
}

.benefits-of-exercise_content .row {
  display: inline-block;
}

  /* Also image in safety.css */
.boe-cat {
  margin-top: 20px;
  max-height: 45%;
}

/* FAQ */

.faq-header {
  margin-bottom: 20px;
}

.faq-img {
 max-height: 35%;
}

#container-left {
  text-align: left;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .exercise-button {
  font-size: 2em;
  }
  .nav-menu {
  height: 15%;
  font-size: .7em;
  display: -webkit-flex; /* Safari */
  }

}








